@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  /* stroke: none; */
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar {
  background: transparent;
  border-radius: 1rem;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgba(99, 5, 136, 0.717),
    rgba(140, 31, 203, 0.631)
  );
  width: 2px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
body {
  filter: invert(1);
  background: black;
}
nav.bg-gray-800.text-white.p-4.flex.justify-between.items-center {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

div#root {
  background: black;

  width: 100%;
}

.text-lg.font-bold {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  color: white;
}

.test-lg font-bold a {
  color: black;
}

.text-lg.font-bold a {
  color: white;
}

.flex.space-x-4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  font-size: 1.25rem;
  font-weight: 200;
}

a.hover\:text-blue-300 {
  color: white;
  cursor: pointer;
}

.flex.space-x-4 button {
  padding: 1em 1.618em;
  border-radius: 2rem;
  transition: all ease 0.5s;
  border: 1px solid white;
  cursor: pointer;
  background: black;
  color: white;
  font-size: 1rem;
  margin-left: 0.25em;
}

button.hover\:text-red-400.bg-transparent.border-none.focus\:outline-none:hover {
  background: white;
  color: black;
}

hr.navlin {
  width: 40%;
  font-weight: 500;
  border: 1px solid lightgray;
  border-radius: 4rem;
  margin: 3% 0 1% 0;
}

.conten h1 {
  font-size: 8rem;
  margin: 0.5% 0 2% 0;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi6qYbVfQ7qBcc1qfxCIYY11HQRD1L3EYKVw&s);
  filter: invert(1);
  background-clip: text;
  background-position-y: 3em;
  line-height: 100%;
  color: transparent;
}

.conten hr {
  width: 20%;
  margin: 1% 0;
}

.conten h4 {
  color: white;
  font-size: 2rem;
  font-weight: 200;
  margin-left: 1%;
}

.conten img {
  position: absolute;
  transform: translate(-27%, -25%);
  top: 25%;
  left: 68%;
  filter: invert(1);
  width: 45rem;
}

.conten p {
  font-size: 21px;
  color: white;
  font-weight: 200;
  font-style: italic;
  margin: 1% 0% 3% 0;
  width: 47%;
  padding: 0 2%;
  margin-left: 1%;
  border-left: 1px solid;
}
p.sh {
  border: none;
  padding: 0;
  margin: 4% 1% 0%;
}
.footer {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 6% 1%;
}

.footer footer h1 {
  font-size: 3rem;
}
ul.icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.75rem;
  gap: 3%;
  margin: 4% 5%;
}

.s-icons {
  cursor: pointer;
}

ul.icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.75rem;
  gap: 3%;
  margin: 4% 5%;
}

a.c.hover\:text-blue-300::after {
  width: 30%;
  height: 2px;
  background: white;
  content: "";
  transition: all ease 0.5s;
  display: block;
}

a.c.hover\:text-blue-300:hover::after {
  width: 60%;
}

a.c.hover\:text-blue-300:hover {
  color: lightgray;
}

a.c.hover\:text-blue-300 {
  transition: all ease 0.5s;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
h1.content {
  color: white;
  font-size: 4rem;
  line-height: 67%;
  text-align: center;
  margin: 5% 1px 1% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content span {
  font-size: 22px;
  font-weight: 200;
  line-height: 100%;
}

.flex.justify-between.items-center.mb-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex.justify-between.items-center.mb-6 button {
  background: white;
  padding: 1% 4%;
  font-size: 17px;
  border-radius: 6rem;
  border: 1px solid black;
  cursor: pointer;
  transition: all ease 0.4s;
  color: black;
}

.flex.justify-between.items-center.mb-6 button:hover {
  background: black;
  color: white;
  border: 1px solid white;
}
.blog img {
  width: 20%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 3rem;
  display: block;
}

.blog {
  display: flex;
  max-width: 57rem;
  background: #f5f5f5;
  flex-direction: row;
  border-radius: 3rem;
  padding: 3%;
  gap: 1em;
}

.Blogs {
  display: flex;
  flex-direction: column;
  padding: 1% 8%;
  gap: 1.5em;
  margin: 2%;
  align-items: center;
}

h1.blogTitle {
  font-size: 2rem;
}

.prose h2 {
  font-size: 20px;
}

.prose p {
  font-weight: 200;
  font-style: italic;
  margin: 2% 0 2%;
  font-size: 17px;
}

.div {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  flex-direction: column;
}

a.text-blue-600.hover\:underline.text-sm {
  background: black;
  color: white;
  border-radius: 1rem;
  padding: 2% 4%;
  border: 1px solid white;
  margin: 1% 0;
  cursor: pointer;
  transition: all ease 0.5s;
}

a.text-blue-600.hover\:underline.text-sm:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.prose {
  display: flex;
  flex-direction: column;
}
.content p {
  font-size: 22px;
  width: 45%;
  font-weight: 100;
  line-height: 135%;
  margin: 2% 0 3% 0;
  font-style: italic;
  text-align: center;
}

.blogdetail {
  background: #e2e2e2;
  filter: invert(1);
  padding: 4%6%;
  border-radius: 5rem;
  box-shadow: -20px -13px 1rem 1px #96969614 inset;
}

p.bauthor {
  margin: 1% 0px 3% 0;
}

.fr {
  display: flex;
  gap: 3em;
  flex-direction: row;
}

img.frimgg {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 25rem;
  border-radius: 3rem;
}

.frcont h2 {
  margin: 20% 0 2%;
}
.blogdetail {
  background: #f4f4f4;
  filter: invert(1);
  padding: 4% 6%;
  margin: 5% 0;
  border-radius: 5rem;
  box-shadow: -20px -13px 1rem 1px #96969614 inset;
}

p.bauthor {
  margin: 1% 0px 3% 0;
}

.fr {
  display: flex;
  gap: 3em;
  flex-direction: row;
}

img.frimgg {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 25rem;
  border-radius: 3rem;
}

.frcont h2 {
  margin: 7% 0 5%;
  font-size: 3rem;
  line-height: 110%;
  margin-bottom: 3%;
}

.bprose {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  margin: 3% 0 5% 0;
}

a.oglink {
  padding: 1% 3%;
  background: transparent;
  color: white;
  border: 1px solid;
  filter: invert(1);
  align-self: center;
  transition: all ease 0.3s;
  justify-self: center;
}

a.oglink:hover {
  border: 1px solid black;
  color: black;
  background: white;
}
.sidehero img {
  width: 5rem;
  rotate: 79deg;
}

.sidehero {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.SideBar {
  max-width: 20rem;
  white-space: nowrap;
}

button.nchat {
  padding: 1% 10%;
  border-radius: 5rem;
  transition: all ease 0.5s;
  background: black;
  cursor: pointer;
  color: white;
}

button.nchat:hover {
  background: white;
  color: black;
}

.geminiAi {
  background: #29272754;
  padding: 2% 5%;
  display: flex;
  position: relative;
  border-radius: 4rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.SideBar hr {
  margin: 6% 0;
}

ul.threads {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  min-width: 19vw;
  max-height: 55vh;
  overflow: auto;
}
p.truncate {
  white-space: normal;
  margin: 1% 0;
  width: 100%;
  font-size: 15px;
}

p.time {
  font-size: 12px;
}

.th1r {
  width: 80%;
}

li.group.px-3.py-2.border-b.text-sm.flex.justify-between.items-start.hover\:bg-blue-50 {
  display: flex;
  width: 98%;
  justify-content: space-between;
  border-bottom: 1px solid;
  background: transparent;
  padding: 6% 6%;
  color: black;
  cursor: pointer;
  box-shadow: 0px 1px 0px 1px #603b9bd6 inset;
  border-radius: 1rem;
  transition: all ease 0.4s;
}

button.delete {
  font-size: 23px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 7%;
  color: black;
  transition: all ease 0.5s;
}

button.delete:hover {
  color: red;
}

li.group.px-3.py-2.border-b.text-sm.flex.justify-between.items-start.hover\:bg-blue-50:hover {
  background: black;
  color: white;
}
h1.gemini {
  position: relative;
  top: 2%;
  left: 80%;
  line-height: 100%;
  color: white;
  font-size: 6rem;
}

.SuggestionCards {
  position: absolute;
  top: 22%;
}

h1.gemini {
  background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDQ0NDQ0NCA0HDQ0HBwgHDQ8ICQcNFREWFhURExMYHTQgGCYlGxUVIUktJTU3NDU4Fx8/RD84TzRCOjcBCgoKDg0NFQ8PFysZFRkrKy0rKy0rKys3LS0tLSstOCsrKy0rNysxKzcrLSstNy0rKzctNysrKys4KzgrKzcuK//AABEIAKgBLAMBEQACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAAAAQIDBAUGB//EACsQAQACAgIBBAEDBAMBAAAAAAABAgMREhMEFlKS0hQFITFCgYLBYXGhI//EABkBAQEBAQEBAAAAAAAAAAAAAAABAgMEBf/EAC0RAQACAgEBBwMEAgMAAAAAAAABEQISAxMUFlJhodHhgZHwBAUxQiFBBiJR/9oADAMBAAIRAxEAPwD8fe55TUCoYBQKhqBQ1AIelABqDQg0oAMAA0AAAALQDSAAkUaAtIACRQgSAFCBIBFJAAFDVABqBUNaAoaoagKDWkPS0AoGloMBopBoBpQaAaAaQGigFBaKUFA0lBaSgFKSBIElKEoJAIoAkCRQgaoFDUCoaghUPShqHpaD0tIeloGlQ9FA0tB6KBpaQaKD0UDSg0BaSgaKBpKC0Uo0UElA0iklBaSghQgSBMqSARQBIpIGqGAVDaDVDhQ1Q2gaUPSoelD0qHpQaKQ9LQNANLSDRQNFA0A0UDRSjSUFpKBoUtIFpJgGkpS0ilpAkCRSQJmVJAIpIBFNUChtIcKGqG1EB6WkPTVIcQtFnELSHpaSz0tA01SHpaBoos9LSDRQNFA0UDRQNFA0UDSUpaKBpKC0lLY0lBaRSmEoLTNKmYRSZoJFJAmZUkAikgaghYQ4agOFRTUQHDVIpaQ4hqkNqkPSxCWemqD0tJZ6Wiz0tFnpaQaKLPS0WNFFjRRY0UWWiixpKLGiiy0lLY0lFlMJQWkpSmEpSmGaLLTMwqZhmYUpSlSzQSKlmVJkCKSBqG1CHCocNCoahFRDUIemkVpqIQ9NxCKiGqQ4haQ4hqhUQtIeloGlpLPRQNLQNFA0UDRQNFA0lBaKBpKUpgoLTNKWkoTMJMKUwxSp0zMKUwzMKmWZUphhUyzKplAmVJlQAUNqEVCocNwi4ahDhqEVENxCKiG4hlUQ1EIqIaiEVEN0iuK0h8VoPi1QfEpBxWg+JRY4rSWOJRY4lFjimq2XEoscU1C4lBcUpS4pQUwzS2mYZmFTMMzCpmGJhpMwzMCZhmWkzDnKplmVTLMqmWVJkCKIVFQ1AcNQiobRcQ3EMqiG4hJXEOkQzaohuIS1xDUQza4q3GKWcVb1S1RVqktXFYxSz4rqlnxXVLHE1LPialjiupY4mpY4mpY4pqWXE1LHE1Wy4pqWXFKWymqUtpmrM4raZqzOK2masTC2iYZmGrRMOcwqZhzmFhEwxMNJlmWkyxMKmWRLEqBRBCKhuBUNQi4bhlUQ6RDMrrDpEI0rDpEMrirpEM20rVuMWZlcVdNWZlUVajFm1xRrVLOKLqlq4LqlnwXUscCks+BqWOC0WOBRY4FFjglFlwKLE0KWymiallwNVtM0Z1W0zVmcVtE1ScViUzVicWrZzVzmGrRaHOYaiWcw5zDVolzmGkzDnMNQiWJVMsKmWZUkUQCobhmVw3CLhuEXDrDDSsOuMMy1rV1iGZlpWrrGLEy1rR1jFiZaVo3GLEy0jG1qlqjG1TNqii6pZ9a0lq4FFjrWkscDUs+sosdZRY6yiy4FFjgUWOCUtl1lGxTjSi0zRNWrRNEnFbRNGZxaiWdqMTi1bO1XKYbiWVquUw3EsrQ5TDUM5hyltEuUtQzliWoTLCpliVJFEAqG4ZlcNwi6ukMtKu2MMtqw7Yw5y2pV3xhiZbUq7Ri5zLemN1jFznJtXG3qxMtK4mqZ2aRiapnZXUUmxxiKTY4xLSbH1FGw6ijYdRRsfUGxdQbDqDYdRRsXUlGxdS0bF1JS7JnEUuyLYkmGoyZ2xszDUZMr42JxdIyYXo5Ti3Esb1ccsXSJYWhxyh0hlaHDJuGUuUtwiXKWoRLCpliVJlQCodIRdW4ZaVdYZa0d8WJb0h3xhzl0Y6vTjDlMurHjd4xcZydWPE6xi5ZZOimFqnKcm1cA57rjAWzuqMKWm59JZufSWm59JsbjpNjcdJsbjpNjcdJsbjpNjcdJsbl0lm46S13LpWzdM4C13RbCNRmythKbjNz5MTMw6xk5suNzyxdccnLko45Q64y5skPNlDtjLnu8+UOkMrOOTpDOzjLUM5c5VLEqTKhRUNQkrq6QjSrrDEtqPRgxLpxQ9ODlk7MNXrwhwzl6GDG9EQ82eTuxYGrp5ss3Zj8dicnGeRtXxmN3OeRpHjM7s9RUeOm6dQ/x03OoPxzdOof45udQfjm51B+ObnUH45udQfjm51B+ObnUH45udQvxzc6g/HNzqFPjrudQp8c3a6iLeM1Ga9Rjfx24zdI5HLl8duJdsc3DnxEw9GOTz81HDKHpwlxZYebOHohy5HkzdIY2efJ1hlZxlqES5y0mWJUmQolLU4lqJRcS6RKNKy7Yyy3xy9GEucurDL18bjk9Hxoe7B5eR6/i49u8zTxcmT1vHwOGebx55u/F47hlm8uWbor47lu59RceOm7O6uhN06g6Dc6h9BudQdBudQdBudQdBsnUHQbnULoNzqH0G51B0G69QdBunULoN16g/HNzqFPjruvURbx13ajkY5PHdIzbjkcXkYHXDN6MM3leVienGbh7OPJ5HlVYze7jl5eZ4uR6sHHkl485d4YWl5cpdIZ2lymWoRLlLSZlhS2ilEs2UcS1YqJbjJmYXFnSMkprS7tjmxMOrFke3izcssXp+Jlj9n0OLOJeTkxe/wCFaP2eqf4fO5Yez49oebOHgzh6OG0PPlDy5Q6a2hymHKYVyhKZqT5QlFDlC0UOUFFDlBRUjlBRUjnBSVI5QUtDlBSUOUFFSOUFLUjlBSUOUFFDlBS0JtBRUpm0LELUsMtobxdcYcHkWh3wh6MIeT5loerB7eOJeB5uSP3Y5MoiH0uLF4+fK+bycj244uS93izzdoxY2s8+WTpTOZc5yWi2xa0nbNrRbS1JhaC2UNllHyldpSji8tRnJouuW0Okc2cJ0rdGLy7x/Ef+vTx/q+TH+IYn9PEvU8P9YzV/oi3+Ux/p9Ph/W8uX84erhn+3Rn/t9D+n/rlZj/6UvSYn9owxXLWY/wC5tD6GMZckfxEfX4ebP9i5Mp/65x9b9nqY/wBexR/Fc398eP7pP6bKf/Pv8OM/8c55/vj6+zT1Bj9ub4U+6dky8vz6Md2efx4+vsfqHH7c3wp907Jl5fn0O7PP48fX2HqHH7c3wp9zsmXl+fQ7s8/jx9fYeocfty/Cn3XsmXl+fQ7sc/jx9fY/UOP25vhT7nZMvL7/AAd2Ofx4+vsPUOP25vhT7p2TLy+/wd2efx4+vsPUOP25vhT7r2TLy+/wd2efx4+vsXqHH7M3wp9zsmXl+fQ7s8/jx9fY/UOP25vhT7nZMvL7/B3Y5/Hj6+w9Q4/bm+FPudky8vv8Hdnn8ePr7D1Dj9uX4U+6dky8vv8AB3Z5/Hj6+w9Q4/bl+FPudky8vv8AB3Z5/Hj6+xeocfszfCn3XsmXl+fQ7sc/jx9fYeocftzfCn3OyZeX3+Duxz+PH19h6hx+3L8Kfc7Jl5fn0O7HP48fX2HqHH7c3wp9zsmXl+fQ7s8/jx9fYvUOP25vhT7nZMvL7/B3Z5/Hj6+yb/r+Kf6c3wp917Ll5ff4aj/jfPH98fX2cPl/rePjM1rlm2p41tSlazP/ADMXXpZYxf8Aj7/Drj+wc2P85Y+vs+d8z9bzT/GOtf8AKZ/08nN+r5MP8Rh6vTj+1xj/AGePn87Jb+YiP7y+Xy/reWf9PRj+liP9ua2e0vJlz5y6RxQzm8uU8mS6Jm0sbyajcpclEWtBCgFAUCmoelpTiGqF1q6YwrbHV6ePFqHbgh9ThhuHfhfR45dIl2Y5eiJdNmkStraiywWWZZZFlmtlkllmWWCywWWAsBYLLBZZFlgsspkstnaUmTZzZZcs5YmXDnh4OWHGXBlq+Xy4sS57Q8eWKImHKYROmJhCRCAIgA1UAaqcKKhuFXV1xVtR6cFdWKz3ceVNQ68V3twzaiXTTK7xm1EtIyt7rau1dix2mxZ9psWO02Wx2rsWO02Sx2mxY7TZbHabFjtNix2myWO02Wx2psll2mxY7TYtM5TctFsrM5lufJkcc82bcuW7x8mbEuTJLwckows8uTKJcZREsShMhIgAgMDIUNCoVVQ3AqHTFWlZd8ZVtSz0YZK3rd6cc1a1yO2PIWuMjp1FVGVrqFn2m5Y7V3Wz7F3LHabljtNyx2m5Y7U3LHau5Y7TcsdqbljsNyx2m5Y7TdLT2puWU5UnMRbIxPIMr3css0Y3s82eSMbS82WSMrOGSIlylEyxIUsoSBIgAAaqcKHDSqhqFOG4GlZdYkXWXXGVXFnbHJWkXdIzFRdvcVzajNT5ruDmu4fNdwczcsczYsczcsczcHM3LHM3LHM3BzNyy5puDmm4XNNwpuk5iZuxOSItZznMZzZyylGcy4zIiZcpRMsSiWJCRCZCQAj/2Q==);
  filter: invert(1) hue-rotate(45deg);
  color: transparent;
  background-clip: text;
}

button.suggestioncard {
  background: #090909;
  color: #bfbfbf;
  font-size: 16px;
  padding: 4% 5%;
  border-radius: 4rem;
  font-weight: 200;
  border: 1px solid;
  border-radius: 5rem;
  transition: all ease 0.5s;
  cursor: pointer;
}
button.suggestioncard:hover {
  background: white;
  color: black;
}
.geminiAi {
  overflow: hidden;
}
.sugges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 160%;
  left: 50%;
  gap: 1%;
  row-gap: 6px;
  position: absolute;
}
button.suggestioncard:hover {
  background: white;
  color: black;
}

.seninp {
  width: 100%;
}

.inputArea {
  width: 100%;
}

.geminiWind {
  width: 80%;
}
button.suggestioncard:hover {
  background: white;
  color: black;
}

.seninp {
  width: 100%;
}

.inputArea {
  width: 100%;
}

.geminiWind {
  width: 80%;
}

input.inputField {
  font-size: 17px;
  color: #eeeeee;
  background: #181818;
  border: none;
  padding: 2% 7%;
  width: 70%;
  border-radius: 4rem;
}

button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors {
  padding: 2% 7%;
  font-size: 17px;
  border-radius: 2rem;
  background: linear-gradient(147deg, #ffffffd1, #76ff00b5);
}
.messages {
  height: 49vh;
  overflow-y: auto;
  padding: 1rem;
  font-size: 15px;
  font-weight: 200;
  color: white;
  letter-spacing: 0.01em;
}
.mb-4.p-3.rounded-lg.max-w-\[80\%\].usee {
  text-align: end;
  display: flex;
  margin: 3% 0%;
  justify-content: flex-end;
  column-gap: 3%;
}

.msgggai {
  margin: 2.75%;
}

.mb-4.p-3.rounded-lg.max-w-\[80\%\].usee::after {
  content: "";
  display: block;
  height: 3rem;
  width: 0.3rem;
  background: linear-gradient(45deg, green, yellow);
}
.lmao {
  filter: invert(1);
  display: flex;
  flex-direction: column;
}

h1.text-2xl.font-bold.mb-2 {
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
}

ul.text-sm.space-y-1 li {
  margin: 1.5% 0;
  list-style: none;
}

section.mb-10 {
  display: flex;
  flex-direction: row;
}

section.charts {
  display: flex;
  width: 100%;
  gap: 2em;
}

.charts div {
  width: 25rem;
}
.lmao {
  filter: invert(1);
  display: flex;
  flex-direction: row;
  gap: 2em;
}

h1.text-2xl.font-bold.mb-2 {
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
}

ul.text-sm.space-y-1 li {
  margin: 1.5% 0;
  list-style: none;
}

section.mb-10 {
  display: flex;
  flex-direction: row;
}

section.charts {
  display: flex;
  width: 100%;
  gap: 2em;
}

.charts div {
  width: 25rem;
}

h2.text-lg.font-semibold.mb-2 {
  font-size: 3.75rem;
  font-weight: 400;
}

.ReviewSection form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

textarea.w-full.border.p-2.rounded {
  resize: vertical;
  width: 22rem;
  min-height: 11rem;
  font-size: 16px;
  padding: 4% 6%;
  margin: 4% 0px;
  border-radius: 2rem;
}

button.mt-2.bg-blue-600.text-white.px-4.py-2.rounded {
  font-size: 17px;
  padding: 2% 6%;
  border-radius: 2rem;
  border: 1px solid;
  background: transparent;
  cursor: pointer;
  transition: all ease 0.5s;
}

button.mt-2.bg-blue-600.text-white.px-4.py-2.rounded:hover {
  background: black;
  color: white;
}

section.ReviewSection {
  margin: 4% 0 0% 0;
}
h2.text-2xl.font-bold.mb.Abi-4.text-center {
  font-size: 7rem;
  color: white;
}

input.w-full.p-2.border.rounded-md.focus\:outline-none.focus\:ring-2.focus\:ring-blue-500 {
  font-size: 18px;
  padding: 1% 4%;
  min-width: 40rem;
  margin: 0.2% 0;
}

p.mt-4.text-center,
p.mt-4.text-center a {
  font-size: 17px;
  color: white;
  margin: 5% 0;
}

p.mt-4.text-center a {
  color: #6cea15;
  transition: all ease 0.5s;
}

p.mt-4.text-center a:hover {
  color: #4a9b0c;
  /* text-decoration: underline; */
}
button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors.logmail {
  padding: 1.75% 2%;
  color: #65e60c;
  background: transparent;
  border-radius: 4rem;
  transition: all ease 0.4s;
  border: 1px solid #65e60c;
}

button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors {
  cursor: pointer;
  margin: 2% 1% 0 0;
  padding: 1.72% 2%;
  background: #65e60c;
  transition: all ease 0.5s;
  border: 1px solid #65e60c;
}

button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors.logmail:hover {
  background: white;
  color: black;
  border: black 1px solid;
}

button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors.golog:hover {
  background: white;
  color: black;
  border: white 1px solid;
}
button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors.logmail {
  padding: 1.75% 2%;
  color: #65e60c;
  background: transparent;
  border-radius: 4rem;
  transition: all ease 0.4s;
  border: 1px solid #65e60c;
}

button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors {
  cursor: pointer;
  margin: 2% 1% 0 0;
  padding: 1.72% 2%;
  background: #65e60c;
  transition: all ease 0.5s;
  border: 1px solid #65e60c;
}

button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors.logmail:hover {
  background: white;
  color: black;
  border: black 1px solid;
}

button.px-4.py-2.bg-blue-500.text-white.rounded-md.hover\:bg-blue-600.disabled\:bg-gray-400.disabled\:cursor-not-allowed.transition-colors.golog:hover {
  background: white;
  color: black;
  border: white 1px solid;
}

img.justimg {
  position: absolute;
  filter: invert(1);
  top: 0;
  left: 43%;
  width: 45rem;
}
h2.text-2xl.font-bold.mb-4.text-center {
  font-size: 7rem;
  color: white;
}
p.abs {
  color: white;
}
